.chart-main-container {
    height: 100%;

    #chart {
        height: 600px;
        width: 900px;
        border-radius: 8px;
        box-shadow: 0 3px 5px 3px rgba($color: #000, $alpha: 0.26);
    }
}