.modal-main-container {
    .modal-header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        border-bottom: 1px solid #CACACA;
    }

    .modal-body {
        // text-align: center;

        .form {
            max-width: inherit;
            padding: 20px 40px;
            
            input, select {
                width: 100%;
                min-height: 50px;
                border-radius: 8px;

                outline: none;
                border: 1px solid #CACACA;
                margin-bottom: 10px;
            }

            .form-action {
                text-align: right;
            }

            .label-field-container {
                text-align: left;
                
                label {
                    font-size: x-small;
                }
            }

            button {
                align-self: center;
            }
        }

        .delete-button {
            margin-right: 10px;
            float: right;
        }
    }
}