
<div class="modal-main-container">
    <div class="modal-header">
        <h4>Update Point</h4>
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <button mat-mini-fab type="button" class="delete-button" color="warn" (click)="removePoint()">
            <mat-icon>delete</mat-icon>
        </button>
        <form (ngSubmit)="onSubmit()" class="form">
            
            <div class="label-field-container">
                <label for="point-time" >Select Time</label>
                <input
                    type="time"
                    id="point-time"
                    name="point-time"
                    placeholder="Enter Time"
                    [(ngModel)]="formData.selectedTime"
                    inputmode="numeric"
                    required
                >
            </div>
            <div class="label-field-container">
                <label for="point-value" >Value</label>
                <input
                    type="number"
                    id="point-value"
                    name="point-value"
                    placeholder="Enter Value"
                    [(ngModel)]="formData.value"
                    required
                >
            </div>
            <div class="label-field-container">
                <label for="point-color" >Light color</label>
                <input
                    class="custom-input"
                    type="color"
                    id="point-color"
                    name="point-color"
                    [(ngModel)]="formData.color"
                    required
                >
            </div>
            <div class="form-action">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>