.modal-main-container {
    .modal-header {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        border-bottom: 1px solid #CACACA;
    }

    .modal-body {
        text-align: center;

        .form {
            max-width: inherit;
            padding: 20px 40px;
            
            .label-field-container {
                text-align: left;
                
                label {
                    font-size: x-small;
                }
            }
            
            input, select {
                width: 100%;
                border-radius: 8px;

                outline: none;
                border: 1px solid #CACACA;
            }

            input {
                min-height: 45px !important;
            }
            select {
                height: 49px;
            }

            .series-info-container {
                display: flex;
                margin-bottom: 5px;
                gap: 10px;

                .label-field-container {
                    min-width: 30%;
                }
            }

            .time-value-heading {
                font-weight: 600;
                font-size: 14px;
            }

            .form-action {
                text-align: right;
            }

            button {
                align-self: end;
            }

            .custom-input {
                height: 49px;
            }
        }
    }
}