<div class="modal-main-container">
    <div class="modal-header">
        <h4>Add Series</h4>
        <button mat-icon-button (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onSubmit()" class="form">
            <div class="label-field-container">
                <label for="title" >Title</label>
                <input
                    type="text"
                    id="title"
                    name="title"
                    placeholder="Enter title for your series"
                    [(ngModel)]="formData.title"
                    required
                >
            </div>
            <p class="time-value-heading">
                Add Time and Intensity
            </p>
            <div
                class="series-info-container"
                *ngFor="let item of formData.series; let i = index;"
            >
                <div class="label-field-container">
                    <label [for]="'series-selectedTime-' + i" >Select Time</label>
                    <input
                        type="time"
                        [id]="'series-selectedTime-' + i"
                        [name]="'series-selectedTime-' + i"
                        placeholder="Enter Time"
                        [(ngModel)]="item.selectedTime"
                        inputmode="numeric"
                        required
                    >
                </div>
                <div class="label-field-container">
                    <label [for]="'series-value-' + i" >Value</label>
                    <input
                        type="number"
                        [id]="'series-value-' + i"
                        [name]="'series-value-' + i"
                        placeholder="Enter Value"
                        [(ngModel)]="item.value"
                        required
                    >
                </div>
                <div class="label-field-container">
                    <label [for]="'series-color-' + i" >Light color</label>
                    <input
                        class="custom-input"
                        type="color"
                        [id]="'series-color-' + i"
                        [name]="'series-color-' + i"
                        [(ngModel)]="item.color"
                        required
                    >
                </div>
                <button mat-mini-fab type="button" color="warn" (click)="removeTimeValue(i)" [disabled]="i === 0">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <button mat-stroked-button type="button" (click)="addTimeValue()">
                <mat-icon>add</mat-icon> Time Value
            </button>
            <div class="form-action">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>