<div class="main-container">
  <div class="heading">
    <p>Gigalabs Light Intensity Graphs</p>
  </div>
  <div class="main-body">
    <div class="action-container">
      <button mat-button class="add-series-button" (click)="openAddSeriesModal()">Add Series</button>
    </div>
    <div class="chart-container">
      <app-chart [chartData]="chartData" (pointClicked)="onPointClicked($event)" (pointDropped)="onPointDropped($event)"></app-chart>
    </div>
  </div>
</div>
