.main-container {
    height: 100vh;
    width: 100vw;

    background-color: #FFF;
    overflow-y: scroll;

    .heading {
        text-align: center;
        padding: 10px;

        p {
            font-weight: 700;
            font-size: 24px;
            color: #000;
            margin: 0;
        }
    }
    .main-body {
        padding: 10px 40px;
        height: calc(100vh - 100px);

        .action-container {
            height: 60px;
            text-align: right;
            padding: 10px;

            .add-series-button {
                height: 40px;
                font-weight: 600;
                padding: 0 20px;
                border-radius: 8px;
                
                color: #FFF;
                background-color: #ffa600;

                cursor: pointer;

                border: none;
                outline: none;
            }
        }
        
        .chart-container {
            height: calc(100vh - 160px);
            background-color: #FFF;
            border-radius: 12px;
            box-shadow: 3px 3px 5px 3px rgba($color: #000, $alpha: 0.26);
            padding: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                box-shadow: 3px 5px 5px 5px rgba($color: #000, $alpha: 0.29);
            }
        }
    }

}